[submodule "C:\\Users\\ErichRay\\Documents\\Git\\CSS490\\TimeServer\\src\\github.com\\seelog"]
	path = C:\\Users\\ErichRay\\Documents\\Git\\CSS490\\TimeServer\\src\\github.com\\seelog
	url = https://github.com/cihub/seelog.git
[submodule "src/github.com/seelog"]
	path = src/github.com/seelog
	url = https://github.com/cihub/seelog.git
